{% extends "base.html" %}
{% block body_class %}reset-bg{% endblock %}
{% block content %}

<div class="form-container">

<h2>Reset Password</h2>

<form method="POST">

{% csrf_token %}

<label>Username</label>
<input type="text" name="username" class="form-control">

<label>New Password</label>
<input type="password" name="password" class="form-control">

<br>

<button type="submit" class="btn btn-warning w-100">Reset Password</button>

</form>

<hr>

<div style="text-align:center">

<p>Remember your password?</p>

<a href="/login/" class="btn btn-primary">Back to Login</a>

</div>

</div>

{% endblock %}